:root {
    --morado: #DC8DFF;
    --naranja: #FFC300;
    --Blanco: #FFFFFF;
    --Oscuro: #212121;
    --Azul: #0097a7;
    --Gris: #757575;
    
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Roboto Condensed', sans-serif;
}

.titulo {
    color: var(--morado);
    text-align: center;
    font-size: 3.8rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.titulo span{ 
   font-size: 2rem; 
}

.contenedor {
    width: 120rem;
    margin: 0 auto 0 auto;
}
.nav-bg{
    background-color: var(--morado);
}

.navegacion-principal a{
    background-color: var(--naranja);

}
